.container {
    padding: 20px;
}

.title {
    font-size: 20px;
}

.searchContainer {
    margin-bottom: 20px;
}

.textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 16px;
    height: 45px; /* 高さを設定 */
    resize: none; /* サイズ変更を無効にする場合 */
}

.radioGroup {
    margin-bottom: 10px;
}

.radioLabel {
    margin-right: 10px;
    font-size: 14px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.questionList {
    justify-content: center;
    width: 95%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #bbb; /* 背景色 */
    border: 1px solid #ddd; /* 枠線 */
    border-radius: 5px; /* 角を丸くする */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 軽い影を追加 */
}

.questionTitle {
    margin-top: 0;
    font-size: 1.5em; /* 見出しのサイズを大きく */
}

.questionItem {
    margin-bottom: 20px; /* 各質問の間の余白 */
    padding: 20px; /* 内側の余白 */
    background-color: #fafafa; /* 背景色 */
    border: 2px solid #bbb; /* 枠線の色と太さ */
    border-radius: 5px; /* 角を丸める（任意） */
}

.dateAndTags {
    display: flex; /* 横並びにする */
    justify-content: space-between;
    align-items: center; /* 垂直方向に中央寄せ */
    margin: 15px 0;
    font-size: 0.9rem;
    color: #666;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 1rem;
  }

.tag {
    background-color: #efefef;
    padding: 2px 8px;
    border-radius: 3px;
    margin: 4px;
    font-size: 12px;
    color: #333;
    border: 2px solid #bbb;
}

.dateInfo {
    font-size: 12px;
    color: #666;
}

.markdownContent {
    background-color: #e0e0e0; /* 灰色の背景色 */
    padding: 10px;
    border-radius: 3px;
    line-height: 1.6; /* 行間を広げて読みやすく */
}

.imageGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .image {
    max-width: 200px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .image:hover {
    transform: scale(1.05); /* ホバー時に拡大 */
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer; /* 背景クリックで閉じられることを示す */
  }
  
  .modalContent {
    position: relative;
  }
  
  .modalImage {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
  }
  