.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  padding: 20px;
}

.sidebar {
  background-color: #e0e0e0;
  padding: 20px;
  height: 100vh;
}

.main {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
}

.question {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fafafa;
  border: 1px solid #ddd;
}

.question h2 {
  margin-top: 0;
}

.question p {
  margin: 10px 0;
}

.introSection {
  background-color: #e0e0e0; /* サイドバーと同じ色 */
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}